.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.title {
    font-weight: 100;
    margin-bottom: 3rem;
}

.input-area {
    display: flex;
    justify-content: center;
}

input {
    color: rgb(37, 55, 223);
    font-weight: 600;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2.5rem;
    width: 60%;
    border: 1px solid gray;
    border-right: none;
}

button {
    font-size: 1.8rem;
}